<% layout("/layouts/boilerplate") %>

<div class="div mt-3">
    <div class="alert alert-danger" role="alert">
        <h2>Status Code: <%=statusCode %></h2>
        <h4><%=message %></h4>
    </div>
</div>