<% layout("/layouts/boilerplate") %>
<body>
    <h1>All Listings</h1>
    <hr><br>
    <!-- <form method = "GET" action = "/listings/new">
        <button type = "submit">Create New Listing</button>
    </form>
    <br><hr> -->
    <ul>
        <% for (const listing of allListings){ %>
            <li><a href = "/listings/<%=listing._id%>"><%=listing.title%></a></li>
        <% } %>
    </ul>
</body>
