.container{
    min-height: 100vh;
}
.navbar{
    background-color: azure;
    height:80px;
    margin-bottom: 25px !important;
}
/* Footer */
.f-info{
    background-color: azure;
    height: 8rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.f-info-socials, .f-info-links, .f-info-brand{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}
.f-info-links a{
    text-decoration: none;
    color: black;
    margin-right: 10px;
}
.f-info-links a:hover{
    text-decoration: underline;
    font-size: 120%;
    
}
.f-info-socials i{
    margin-right: 10px;
}
.f-info-socials i:hover{
    font-size: 120%;
}

/* card styling */
.listing-card{
    border: none !important;
    margin-bottom: 2rem !important;
}
.index-card{
    border: none !important;
    margin-bottom: 2rem !important;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
    height: 350px !important;
}
.listing-card-body{
    padding: 0 !important;
    padding-left: 1rem !important;
}

.listing-link{
    text-decoration: none;
}
/* card overlay */
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: aliceblue;
}

/* show.ejs page */
.card-button-group{
    display: flex;
    justify-content: space-between;
}
.card-button-group a{
    background-color: #ff9900;
    border: none;
}
/* .card-img-top{
    width: 400px !important;
    height: 400px !important;
} */
.title-description{
    padding: 0px !important;
}

/* review design */
.review-star-filled{
    color:#ff9900;
    font-size: 25px;
}